.bio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bio-image {
  height: 300px;
  width: auto;
}

.bio-text {
  margin-left: 20px;
  max-width: 40%;
}

.BioComponent {
  padding-top: 50px;
  padding-bottom: 50px;
}