.contact-form{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

form {
  width: 40%;
  max-width: 500px;
  min-width: 250px;
}

input {
  margin: 10px;
}

.ContactComponent {
  padding-top: 50px;
  text-align: center;
}

.contact-button {
  background-color: #0C4EB3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  margin-top: 10px;
  max-width: 200px;
}

#contact {
  margin-bottom: 50px;
}