#navbar {
  overflow: hidden;
  background-color: #C28D25;
  z-index: 100;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.active {
  background-color: #0C4EB3;
}

.sticky + div {
  margin-top: 50px;
}