.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-project-image {
  height: 50%;
  width: auto;
}

.modal-button {
  margin: 10px;
}