.language-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}

.header {
  width: 33%;
}

.logo-container {
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 60%
}

.logo {
  width: auto;
}