.language-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}

.header {
  width: 33%;
}

.logo-continer {
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 66%;
  position: relative;
}